$mainColor1: #fffdd0;
$mainColor2: #fff099;
$mainColor3: #ffe866;
$mainColor4: #ffe003;
$mainColor5: #ffd900;

.navbarBackground {
	border-bottom: solid 1px black;
	width: 100vw;
	height: 3rem;
	padding: 1rem;
}
